@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Hide the native cursor everywhere */
html.custom-cursor,
html.custom-cursor *,
html.custom-cursor *::before,
html.custom-cursor *::after {
  cursor: none !important;
}

/* Hide scrollbar but keep scrolling */

html {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE & old Edge */
}

html::-webkit-scrollbar {
  display: none;              /* Chrome, Edge, Safari */
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}